AuthorizedKeysCommand /opt/authorized-keys-command.sh
AuthorizedKeysCommandUser root

ChallengeResponseAuthentication yes

UsePAM yes
AuthenticationMethods publickey

X11Forwarding yes
PrintMotd no

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server
